:root {
    --alice-blue: #E9F5FF;
    --jordy-blue: #93BFEF;
    --tufts-blue: #468BE6;
    --cobalt-blue: #1A5799;
    --cool-black: #092F64;
    --eerie-black: #1F1F1F;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-width: 100vw;
    height: 100vh;
}

.header {
    color: var(--cool-black);
    background-color: var(--cobalt-blue);
}

.content {
    background-color: var(--alice-blue);
    padding: 1rem;
}

.content .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.content .card {
    width: 15rem;
    height: 20rem;
    background-color: var(--jordy-blue);

    padding: 1rem;
    border-radius: 0.5rem;
}

.card .card-title {
    color: var(--cobalt-blue);
}

.card .card-content{
    color: var(--eerie-black);
}